@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

audio::-webkit-media-controls-panel {
    background-image: url('https://inoculate.media/assets/tiles.png');
    background-repeat:true;
}

.container {
    width: 41rem /* 656px */;
    max-width: 95vw;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.language-container {
  display: flex;
  gap: 20px;
}

#logo {
  position:relative;
  margin-left:40%;
  margin-right:40%;
  margin-top: 12%;
}
  

}
