@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

audio::-webkit-media-controls-panel {
    background-image: url('../public/tiles/png';
    background-repeat:true;
}

.container {
    width: 41rem /* 656px */;
    max-width: 95vw;
}
#logo {
    margin-bottom: 0px;
    margin-left: 45%;
}
